.form-container input[type="submit"]:hover {
  color: white;
  background-color: black;
  transition: 0.2s ease-in-out;
}

.form-container input:not([type="submit"]):focus,
textarea:focus {
  background-color: rgb(237, 253, 255);
  border-bottom: 1px solid rgb(22, 247, 255);
  transition: 0.2s ease-in-out;
}

.form-container form{
  max-width: 500px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.row-1 {
  display: flex;
  flex-direction: column;
}

.artists-inputs {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.remove {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 10px;
}

.add-artist {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  border: 1px solid black;
  color: black;
  padding: 0.4rem 0.8rem;
  background-color: white;
  transition: 0.2s ease-in-out;
}

.add-artist:hover {
  color: rgb(255, 255, 255);
  background-color: black;
  transition: 0.2s ease-in-out;
}

input[type="date"] {
  outline: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-datetime-edit-ampm-field,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.form-container form input[type="time"],
.form-container form input[type="date"] {
  text-align: left;
  color: black;
}

.form-container form input[type="time"]:before,
.form-container form input[type="date"]:before {
  color: #6d6d6d;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}

.form-container.light,
.form-container {
  background-color: rgb(255, 255, 255);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 19200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem;
  user-select: none;
}

.form-container input {
  width: 100%;
}

.form-container form input[type="text"],
.form-container form input[type="date"],
.form-container form input[type="time"],
.form-container form input[type="number"],
.description-input {
  background-color: white;
  padding: 0.7rem;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  transition: 0.2s ease-in-out;
}

.form-container input[type="submit"] {
  cursor: pointer;
  background-color: white;
  padding: 0.7rem;
  border: 1px solid black;
  outline: none;
  transition: 0.2s ease-in-out;
}

.form-container input:not([type="submit"]):not(:placeholder-shown),
.description-input:not(:placeholder-shown) {
  border-bottom: 1px solid rgb(13, 196, 202);
}

.form-container input:invalid {
  border-bottom: none;
}

.form-container form label {
  font-size: 0.9rem;
  align-self: self-start;
}

.artwork-preview {
  position: absolute;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: none;
}

.drop-container {
  cursor: pointer;
  border: 1px dotted gray;
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 233, 233);
}

.drop-container input,
.drop-container-background input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.drop-container-background input {
  z-index: 8;
  /* top: 0;
  right: 0;
  position: absolute; */
  width: 100%;
  height: 240px;
}

.drop-container h2,
.drop-container-background h2 {
  position: absolute;
  color: rgb(156, 156, 156);
  border: none;
}

.background-preview {
  position: absolute;
  width: 100%;
  height: 240px;
  object-fit: cover;
  border: none;
}

.drop-container-background {
  overflow: hidden;
  cursor: pointer;
  border: 1px dotted gray;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 233, 233);
  transition: 0.2s ease-in-out;
}

.drop-container-background.height {
  transition: max-height 0.7s linear;
  opacity: 0;
  max-height: 0px;
}

.drop-container-background.true {
  border: 1px solid rgb(255, 41, 41);
}

.drop-container-background:hover,
.drop-container:hover {
  background-color: rgb(241, 241, 241);
  transition: 0.2s ease-in-out;
}

.form-container .drop-container input[type="file"] {
  z-index: 8;
  top: 0;
  right: 0;
  position: absolute;
  width: 300px;
  height: 300px;
}

.title {
  margin-bottom: 1rem;
}

.views-inputs {
  display: flex;
  gap: 0.5rem;
}

.description-input {
  width: 100%;
  resize: none;
  min-height: 150px;
  height: fit-content;
}

.description-input::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #181818;
}

.description-input::-webkit-scrollbar {
  width: 10px;
  background-color: #181818;
}

.description-input::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cccccc;
}

.radio-inputs {
  display: flex;
  gap: 1rem;
}

.radio-input-wrapper {
  position: relative;
  margin-bottom: 0.8rem;
}

.radio-input-wrapper input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.radio-input-wrapper label {
  position: relative;
  cursor: pointer;
  padding: 0.5rem 2rem;
  color: black;
  background-color: white;
  border: 1px solid black;
  max-width: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.1s ease-in-out;
}

.radio-input-wrapper input:hover + label {
  background-color: rgb(243, 243, 243);
  transition: 0.1s ease-in-out;
}

.radio-input-wrapper input:checked + label {
  background-color: rgb(0, 0, 0);
  color: white;
}

.select-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 0.3rem;
}

.select-background .select-bg-wrapper {
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: black;
  background-color: white;
  border: 1px solid black;
  width: 100%;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.1s ease-in-out;
}

.select-background .select-bg-wrapper input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.drop-container-background.new-bg {
  opacity: 100%;
  max-height: 240px;
}

.existing-bgs-selector.existing {
  max-height: 400px;
  transition: max-height 0.7s linear;
}
.existing-bgs-selector.new-bg {
  display: none;
}
.existing-bgs-selector.default {
  display: none;
}

.existing-bgs-selector {
  display: none;
  padding: 1rem 1rem 1rem 0.5rem;
  max-width: 100%;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  max-height: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8.8rem, 1fr));
  grid-row-gap: 0.3rem;
  grid-column-gap: 1rem;
  overflow-y: scroll;
  transition: max-height 0.7s linear;
  overflow-x: hidden;
}

.bg-select-item input{
  cursor: pointer;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 4;
  height: 100%;
}

.bg-select-item .background-checked{
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  transition: 0.2s ease-in-out;
}

.bg-select-item img {
  max-width: 150px;
  aspect-ratio: 16/9;
  z-index: 2;
}

.bg-select-item input:checked ~ .background-checked{
  background-color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 1) 0px 2px 10px;
  transition: 0.2s ease-in-out;
}


.existing-bgs-selector.dark {
  border: 2px solid white;
}

.bg-select-item {
  position: relative;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.13rem;
}

.bg-select-item:hover {
  transition: 0.2s ease-in-out;
  background-color: rgb(0, 0, 0);
}

.existing-bgs-selector.dark .bg-select-item:hover {
  transition: 0.2s ease-in-out;
  background-color: white;
}

/* .existing-bgs-selector.dark{
  border: 1px solid white;
}
 */
.existing-bgs-selector.dark::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #181818;
}

.existing-bgs-selector::-webkit-scrollbar {
  width: 10px;
  background-color: #181818;
}

.existing-bgs-selector::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #707070;
}

.existing-bgs-selector::-webkit-scrollbar-track {
  background-color: #dfdfdf;
}


/* .select-background .select-bg-wrapper .select-bg-icon{
  transform: rotate(180deg);
  transition: 0.5s ease-in-out;
} */
