.back-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  overflow-y: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(10%) grayscale(10%);
  background-color: rgba(0, 0, 0, 0.98);
}

.documentary-container::before {
  background: radial-gradient(circle, rgba(20, 22, 27, 0.233) 0%, #070707 100%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.documentary-container {
  position: relative;
  color: white;
  text-align: center;

  .documentary-wrapper {
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1500px;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    z-index: 2;
    .info-wrapper {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 1rem;
      > label {
        letter-spacing: 0.3rem;
        font-size: 0.8rem;
      }
    }
    .info-wrapper > h2 {
      font-size: 2rem;
    }
  }
}

.doc-thumbnail {
  margin: 0 auto;
  position: relative;
  border: 2px solid transparent;
  transition: 0.2s ease-in-out;

  &:hover {
    border: 2px solid rgb(202, 47, 223);
    transition: 0.2s ease-in-out;
  }

  > img {
    position: relative;
    max-width: 850px;
    width: 100%;
    cursor: pointer;
    opacity: 0.9;
    filter: brightness(50%);
    transition: 0.3s ease-in-out;
    &:hover {
      filter: brightness(80%);
      transition: 0.3s ease-in-out;
    }
  }
  > svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 5rem;
    height: 5rem;
    border: 2px solid white;
    padding: 1rem;
    border-radius: 100%;
    z-index: 2;
    pointer-events: none;
  }
}

@media screen and (max-width: 1020px) {
  .doc-thumbnail-container {
    width: 100%;
  }
}

.documentary-container.dark {
  background: radial-gradient(circle, rgb(10, 10, 12) 0%, rgb(15, 15, 19) 100%);
}
