.about-us {
  height: auto 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 1rem;
    display: flex;
    align-items: center;
    > label {
      letter-spacing: 0.3rem;
      font-size: 0.8rem;
    }
    > h2 {
      text-align: center;
      margin-bottom: 3rem;
      font-size: 3rem;
    }
    .description-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      > p {
          font-weight: 400;
        color: rgb(82, 82, 82);
      }
      > ul {
        margin-left: 2rem;
        line-height: 1.4rem;
      }
    }
    >img{
      margin-top: 3rem;
      max-width: 600px;
      width: 100%;
      object-fit: cover;
  }
}

.about-us.dark .description-wrapper >p{
    color: white;
}
