.topics.dark {
  background-image: url("./assets/main_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  .separator {
    width: 80%;
    height: 2px;
    background: radial-gradient(
      circle,
      rgb(0, 0, 0) 0%,
      rgba(15, 15, 19, 0) 100%
    );
  }
}

