.topics.dark {
  background-image: url("./assets/main_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  .separator-wrapper{
    background: radial-gradient(circle, rgb(15, 15, 19) 0%, rgb(10, 10, 10) 100%);
    .separator {
      
      background: radial-gradient(
          circle,
          rgb(255, 255, 255) 0%,
          rgba(94, 94, 192, 0) 100%
        );
    }
  }
}

