.backgrounds-container{
  margin: 0 auto;
  padding: 1rem;
  min-height: 100%;
  height: auto !important;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.backgrounds-container .add-bg{
  width: fit-content;
  background-color: white;
  font-size: .9rem;
  color: black;
  padding: .5rem;
  border: 1px solid;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.backgrounds-container .add-bg:hover{
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  color: white;
  transition: 0.2s ease-in-out;
}

.backgrounds-container .add-bg.dark{
  color: white;
  background: none;
}

.backgrounds-container .add-bg.dark:hover{
  background-color: white;
  color: black;
}

.bg-grid{
  --auto-grid-min-size: 20rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  gap: 1rem;
}

.backgrounds-title {
  user-select: none;
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-top: 1rem;
}

.backgrounds-title h4 {
  font-weight: 500;
}